results/
runs/
fig4-arrange/
fig4-arrange.rar
base.py
base_3_adapter.py
__pycache__/
results/
runs/
fig4-arrange/
fig4-arrange.rar
base.py
base_3_adapter.py
results/
runs/
fig4-arrange/
fig4-arrange.rar
base.py
base_3_adapter.py
data/
wo.sh
test.sh
fig.sh
fig4_experiments.sh
scripts/demo.sh
CGTC/train_tpac_old.py
CGTC/train_tpac_new.py
CGTC/training/trainer_old.py
CGTC/training/trainer_new.py
collect_vis.sh
CGTC/wo.py
CGTC/draw_picture.py
CGTC/docs